body{
    background-color: gray;
}
#ciag, #fi{
    display: inline-block;
    margin-right: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.odd, .even{
    color: #999;
}
.ratio{
    color: #ffc851;
}
.interfejs{
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.krew{
    color:red;
}
.trawa{
    color:green;
}
.pezet{
    color:magenta;
}