body{
    background-color: gray;
}
#ciag, #fi{
    display: inline-block;
    margin-right: 50px;
}

.odd, .even{
    color: #999;
}
.ratio{
    color: #ffc851;
}
.interfejs{
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
}